/* Scss Document */

html {
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --bg-well: #bebebe;
  --color-headings: #0f073f;
  --color-text: #333333;
  --color-links: #0f073f;
  --color-links-hover: #4c34fb;
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --bg-well: #3f3f3f;
  --color-headings: #dddddd;
  --color-text: #fcfcfc;
  --color-links: #ffffff;
  --color-links-hover: #2196f3;
}

body {
  background-color: var(--bg);
  color: var(--color-text);
  h2 {
    color: var(--color-headings);
  }
  .well {
    color: var(--color-text);
    background-color: var(--bg-well);
  }

  a {
    h4 {
      color: var(--color-links);
    }
  }
  a:hover {
    h4 {
      color: var(--color-links-hover);
    }
  }
}

.panel {
  background-color: var(--bg-panel);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important;
}
